name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          BUILD_START=$(date +%s)
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/devops-demo-app:latest ./app
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/devops-demo-app:latest
          BUILD_END=$(date +%s)
          DURATION=$((BUILD_END - BUILD_START))
          echo "Build Duration: $DURATION sec"

          # Send metrics to Pushgateway
          echo "build_info 1" | curl --data-binary @- http://${{ secrets.PUSHGATEWAY_IP }}:9091/metrics/job/builds/build_id=${{ github.run_id }}
          echo "build_duration_seconds $DURATION" | curl --data-binary @- http://${{ secrets.PUSHGATEWAY_IP }}:9091/metrics/job/builds/build_id=${{ github.run_id }}

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: SSH into EC2 and redeploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_IP }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/DevOps\ Project/monitoring
            sudo docker compose pull
            sudo docker compose up -d
